:root {
	--ff-primary: 'Work Sans', Helvetica, Arial, sans-serif;
	--ff-secondary: 'Space Mono', monospace;

	--unit-base: 1.25rem;
	--unit-half: calc(var(--unit-base) * .5);
	--unit-2x: calc(var(--unit-base) * 2);

	--fsz-base: var(--unit-base);
	--fsz-small: calc(var(--unit-base) * .65);

	--radius: .25rem;

	font-family: var(--ff-primary);
	font-size: var(--unit-base);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

input,
select,
button {
	font-size: inherit;
	font-family: inherit;
}

ul {
	list-style-type: none;
}

.wrapper {
	margin: var(--unit-base);
	padding: var(--unit-base);
	background-color: #eeeeee;
	border-radius: var(--radius);
}

.input-wrapper {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #cecece;
	padding-bottom: var(--unit-base);
}

.todo-item-wrapper {
	display: inline-flex;
	gap: var(--unit-half);
}