:root {
	--ff-primary: 'Work Sans', Helvetica, Arial, sans-serif;
	--ff-secondary: 'Space Mono', monospace;

	--unit-base: 1.25rem;
	--unit-quarter: calc(var(--unit-base) * .25);
	--unit-half: calc(var(--unit-base) * .5);
	--unit-2x: calc(var(--unit-base) * 2);

	--fsz-base: var(--unit-base);
	--fsz-small: calc(var(--unit-base) * .65);

	--radius: .25rem;

	font-family: var(--ff-primary);
	font-size: var(--unit-base);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

input,
select,
button {
	font-size: inherit;
	font-family: inherit;
}

[type="text"],
button {
	padding: var(--unit-quarter);
}

button {
	padding-inline: var(--unit-half);
}

ul {
	list-style-type: none;
}

.wrapper {
	margin: var(--unit-base);
	padding: var(--unit-half);
	background-color: #eeeeee;
	border-radius: var(--radius);
	max-width: 50ch;
	margin-inline: auto;
}

.header {
	font-size: var(--fsz-small);
	margin-bottom: var(--unit-base);
	padding: var(--unit-half) var(--unit-half) 0;
}

.input-wrapper {
	display: flex;
	flex-direction: column;
	gap: var(--unit-quarter);
	border-bottom: 1px solid #cecece;
	padding-bottom: var(--unit-base);
	padding-inline: var(--unit-half);
}

.todo-heading {
	font-weight: 600;
}

.todo-input {
	display: flex;
	gap: var(--unit-quarter);
}

.todo-input-field {
	width: 100%;
	flex: 1 1 100%;
}

.todo-list {
	margin-top: var(--unit-half);
}

.todo-item-wrapper {
	display: flex;
	gap: var(--unit-half);
	padding: var(--unit-half);
}

.todo-checkbox:checked,
.todo-checkbox:checked + .todo-text {
	opacity: .5;
}