:root {
	--ff-primary: 'Work Sans', Helvetica, Arial, sans-serif;
	--ff-secondary: 'Space Mono', monospace;

	--unit-base: 1.25rem;
	--unit-quarter: calc(var(--unit-base) * .25);
	--unit-half: calc(var(--unit-base) * .5);
	--unit-2x: calc(var(--unit-base) * 2);

	--fsz-base: var(--unit-base);
	--fsz-small: calc(var(--unit-base) * .65);
	--fsz-medium: calc(var(--unit-base) * 1.2);

	--ls-base: initial;
	--ls-small: 0em;
	--ls-medium: -0.0325em;

	--radius: .25rem;

	font-family: var(--ff-primary);
	font-size: var(--unit-base);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

input,
select,
button {
	font-size: inherit;
	font-family: inherit;
}

[type="text"],
button {
	padding: var(--unit-quarter);
}

button {
	padding-inline: var(--unit-half);
}

ul {
	list-style-type: none;
}

.wrapper {
	margin: var(--unit-base);
	padding: var(--unit-half);
	background-color: #f0f0f0;
	border-radius: var(--radius);
	max-width: 50ch;
	margin-inline: auto;
}

.header {
	font-size: var(--fsz-small);
	margin-bottom: var(--unit-base);
	padding: var(--unit-half) var(--unit-half) 0;
	color: gray;
	font-weight: 500;
	letter-spacing: var(--ls-small);
}

.input-wrapper {
	display: flex;
	flex-direction: column;
	gap: var(--unit-quarter);
	border-bottom: 1px solid #cecece;
	padding-bottom: var(--unit-base);
	padding-inline: var(--unit-half);
}

.todo-heading {
	font-size: var(--fsz-medium);
	font-weight: 600;
	letter-spacing: var(--ls-medium);
}

.todo-input {
	display: flex;
	gap: var(--unit-quarter);
}

.todo-input-field {
	width: 100%;
	flex: 1 1 100%;
}

.todo-wrapper {
	margin-top: var(--unit-half);
}

.todo-list {
	display: flex;
	flex-direction: column;
	min-height: 2.45rem;
	justify-content: center;
}

.todo-list:empty::before {
	content: 'Your list is empty!';
	display: block;
	text-align: center;
	height: 100%;
	color: gray;
}

.todo-item-wrapper {
	display: flex;
	gap: var(--unit-half);
	padding: var(--unit-half);
}

.todo-item-wrapper:hover {
	background: #fafafa;
	cursor: pointer;
	border-radius: calc(var(--radius) * .5);
	filter: drop-shadow(0px 0px 4px rgb(220, 220, 220));
}

.todo-checkbox:checked,
.todo-checkbox:checked + .todo-text {
	opacity: .5;
}