:root {
	/* Type */
	--ff-body: 'Inter', Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	--ff-heading: 'Radio Canada Big';

	--fs-0: clamp(1rem, calc(.75rem + .5vw), calc(.75rem + .5vw));
	--fs-hA: clamp(2rem, calc(1.5rem + 1.5vw), calc(1.5rem + 1.5vw));
	--fs-hB: clamp(2rem, calc(1.5rem + 1.5vw), calc(1.5rem + 1.5vw));

	/* Colors */
	--clr-accent: #27dda6;
	--clr-lightest: #eeeeee;
	--clr-lighter: #d9d9d9;
	--clr-light: #a9a9a9;
	--clr-dark: #6a6a6a;
	--clr-darker: #3f3f3f;
	--clr-darkest: #2a2a2a;

	--clr-night: #2a2a2a;
	--clr-bright: white;

	--fg: var(--clr-night);
	--bg: var(--clr-bright);

	accent-color: var(--clr-accent);

	/* Spacing Units */
	--spacer-0: .25rem;
	--spacer-1: .5rem;
	--spacer-2: .75rem;
	--spacer-3: 1rem;
	--spacer-4: 2rem;
	--spacer-5: 4rem;

	--spacer-br: 1.5em;

	/* Animation/Transition Ease */
	--timing-function-main: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Reset */

*,
*::before,
*::after {
	box-sizing: border-box;
}

*:not(h1, h2, h3, h4, h5, h6, p, li, ul, ol, blockquote) {
	margin: 0;
	padding: 0;
}

::selection {
	background: var(--clr-accent);
	color: var(--bg);
}

p:not(.timestamp):only-of-type {
	margin: 0;
}

input,
button,
textarea,
select {
	font: inherit;
	border-radius: 0px;
	border-width: 1px;
	border-color: darkgray;
	border-style: solid;
}

img,
picture,
video,
canvas,
svg,
[src*="youtube"],
[src*="vimeo"],
[src*="mp4"] {
	display: block;
	max-width: 100%;
	height: auto;
}

img {
	font-style: italic;
	vertical-align: middle;
	height: auto;
	background-repeat: no-repeat;
	background-size: cover;
	shape-margin: 1rem;
	image-rendering: crisp-edges;
}

/* -------------------------------------------------------------- */

body {
	font: normal var(--fs-0)/1.5 var(--ff-body);
	background-color: var(--clr-lightest);
}

.wrapper {
	width: min(80ch, calc(100% - 2rem));
	margin-inline: auto;
}

h1 {
	font-size: var(--fs-hA);
	margin-bottom: 0;
}

input,
button,
textarea,
select {
	width: 100%;
	padding: .5em 1em;
}

button {
	cursor: pointer;
}

table {
	table-layout: fixed;
	text-align: left;
	border-collapse: collapse;

}

th {
	background: #e0e0e0;
	border: 1px solid lightslategray;
}

th[data-column="index"] {
	width: 3ch;
}

th[data-column="data-type"] {
	max-width: 5ch;
}

th[data-column="preview"] {
	flex: 1 1 24ch;
}

th[data-column="preview"] pre {
	width: 65%;
}

td[data-column="preview"] {
	padding: 0;
}

td[data-column="preview"] pre {
	max-height: 14ch;
	padding: .75em;
	overflow-y: scroll;
}

td,
th {
	padding: .5em .75em;
}

table,
td {
	border: 1px solid lightgray;
}

tr {
	max-height: fit-content;
}

td pre {
	max-width: 100%;
	text-wrap: wrap;
}

td:empty::before {
	content: '......';
	display: inline-block;
	background: #e0e0e0;
	padding: .5em .5em;
	border-radius: .25em;
}

td > pre:empty::before {
	content: 'Waiting...';
}

/* Layout */

header {
	margin-block: var(--spacer-5);
}

.main-tool {
	display: flex;
	gap: var(--spacer-4);
	flex-wrap: wrap;
}

.timestamp {
	font-size: .75em;
	margin-top: 1em;
}

.timestamp[aria-hidden] {
	opacity: 0;
}

.feed-in {
	flex: 1 1 250px;
}

.feed-out {
	flex: 3 1 50%;
	display: flex;
	align-self: flex-start;
}

.output-table {
	flex: 1;
}

.input-wrapper {
	position: relative;
	min-height: ch;
}

.input-wrapper:where(:focus-within, :focus, :focus-visible, :target, :active, :hover) {
	outline: 1px solid red;
	outline-offset: 4px
}

.fi-area {
	display: flex;
	background-color: var(--clr-lightest);
	width: 100%;
	min-height: 12ch;
	border: 4px dashed var(--clr-light);
	align-items: center;
	justify-content: center;
}

.fi-input {
	display: block;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	cursor: copy;
}